div.ranks_adduser_form{
	width: 100%;
	position: relative;
	height: 90px;
}
div.ranks_adduser{
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	height: 90px;
	vertical-align: middle;
	text-align: center;
}
div.ranks_addbutton{
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	vertical-align: middle;
	text-align: center;
	top: 30px;
}
div.ranksheadername{
	text-align: left;
	float: left;
}
div.ranksheader{
	height: auto;
	text-align: right;
	position: relative;
	background-color: #474747;
	font-size: 18pt;
	font-weight: bold;
}
table.indranks{
	width: 100%;
}